@{
    ViewData["Title"] = "Home Page";
}
    <div>
        <h1>SAR MS</h1>
        <p>SAR spelar minecraft, helt enkelt</p>
    </div>




























































































<form>
    <div class="d-grid gap-5 col-6 mx-auto">
        <a class="btn btn-primary" href="https://discord.gg/AkvfsY9zSd" role="button">gå med i discorden</a>
    </div>

    <div class="d-grid gap-5 col-6 mx-auto">
        <a class="btn btn-secondary" href="https://www.paypal.com/pools/c/8vS64ObKPu" role="button">donera</a>
    </div>
</form>