@{
    ViewData["Title"] = "Home Page";
}
<h3>SAR MS</h3>































































































<div>
    <a class="btn btn-primary" href="https://discord.gg/AkvfsY9zSd" role="button">gå med i discorden</a>
</div>
<div>
    <a class="btn btn-secondary" href="https://www.paypal.com/pools/c/8vS64ObKPu" role="button">donera</a>
</div>
