@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="~/bilder" class="rounded-circle" height="40" width="40" asp-append-version="true" />