
@{
    ViewData["Title"] = "Regler";
}

<h1>Regler</h1>

<div>
    <p>1. Man får inte skapa chunks som bannar andra spelar när det är i din eller i närheten. (Chunkbans).</p>
    <p>2. Man får inte griefa.</p>
    <p>3. Man får inte ta föremål från andra spelare inklusive spelare som har blivit bannade!</p>    
    <p>4. Man får inte orsaka andra spelares döds</p>    
    <p>5. Fuskklienter och Autoclickers  är ej tillåtet. Vissa modifierade klienter får användas men fråga alltid Staff innan.</p>
    <p>6. Man får inte konstruera maskiner som är gjorda för att skapa lagg.</p>
    <p>7. Följ stadens regler.</p>    
    <p>8. Försök inte lura mod.</p>    
    <p>9. Ingen trading av IRL pengar.</p>    
    <p>10. Duplikation och användning av buggar som gör så man får ett övertag mot andra spelare är olagligt. (TNT duplicering är olagligt)  Undantag: Ta sönder bedrock</p>    
    <p>11. Respektera alla spelare.  Alla spelare ska behandlas lika, oavsett kön, ålder, religion osv.</p>    

        12.  Man får ej ha mer än 10 djur på ca 10 block. (Fråga staff om du vill ha mer än 10 djur på ca 10 block). Denna regeln finns för att servern ska gå lättare vilket leder till en bättre spelupplevelse.

        13. Försök att göraså att dina redstone-projekt skapar så lite lagg som möjligt t.ex. använde barrels istället för kistor i större sorteringsmaskiner.

        14.  Om man vill ha alt konton för att spela in t.ex. en timelapse osv. Var vänlig att fråga Staff I sådana fall.

        15.  Man får inte låtsas vara en annan spelare utan tillåtelse av den spelaren.

        16. Om du vill stå AFK i en farm som kan skapa lagg var vänligen  att använd schemat som står under.

        17. Utnyttja inte "loopholes"
    
</div>