
@{
    ViewData["Title"] = "Skapare";
}

<h1>Skapare</h1>

<div>
    <p>Ägare: lil tå</p>
</div>
<div>
    <p>Diktator: loffiz</p>
</div>

<div>
    <p>Web utvecklare: optitech</p>
</div>

<div>
    <p>Discord Mod: Lentrox</p>
</div>




<div>
    <p>byggare: TheRallyPig</p>
</div>
